%clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

.article {
  @extend %clearfix;
  padding: 10px;

  h3 {
    @extend %clearfix;
    color: green;
   
    .title { float: left; }
  }
}

.featured-article { @extend .article; }