// // Extends, aka Selector Inheritance
// In-depth article on CSS Tricks: http://css-tricks.com/the-extend-concept/

%big-text { // Silent/Placeholder selector! Scss/Sass only
    font-size: 20em;
    font-weight: bold;
}

%dashed-underline {
    border-bottom: 3px dashed;
}

.error {
    @extend %dashed-underline;

    color: red;
}

.server-error {
    @extend %big-text;
    @extend .error;

    font-size: 30em;
}