@mixin padding ($param: 1em) { // $param has a default value of 1em
  padding: $param;
}

@mixin border ($direction: bottom, $weight: 1px, $style: solid, $color: black) {
    border-#{$direction}: $weight $style $color; // String interpolation
}

.box2 {
    @include padding; // padding: 1em;
    background: blue;
}

.box1 {
    @include padding(5em); // padding: 5em;
    @include border(left, 10px, dotted, red); // border-left: 10px dotted red;
    background: green;
}

/*

// OUTPUT (expanded)

.box2 {
  padding: 1em;
  background: blue;
}

.box1 {
  padding: 5em;
  border-left: 10px dotted red;
  background: green;
}

*/